body {
    background-color: #eee;
    font-family: 'Courier New', mono-spaced;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Courier New', mono-spaced;
}
            
#wrapper {
    width: 960px;
    margin: 0 auto;
}

#header {
    margin-bottom: 60px;
}

#footer {
    clear: both;
    width: 100%;
}

#page_header {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

#primary {
    width: 66%;
    float: left;
    margin-right: 20px;
}

#sidebar {
    width: 28%;
    float: left;
    background-color: #fff;
    padding: 10px;
}

#categories {
    background-color: #fff;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    color: #1B9EE0;
}

.post {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.post h2 {
    float: left;
    width: 75%;
}

.post .pub_date {
    float: right;
}

.clear {
    clear: both;
}

.tweets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tweets li {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px;
}

.tweets .created {
    font-size: 12px;
}

pre {
    background-color: #f9f9f9;
    border-left: 10px solid #ccc;
    padding: 10px 10px 10px 20px;
}

.categories {
    margin: 0;
    padding: 0;
    float: left;
}

.categories li {
    display: inline;
    list-style-type: none;
}

.pagination {
    width: 100%;
    margin-bottom: 30px;
    float: left;
}

.pagination .next {
    float: right;
}

.pagination .prev {
    float: left;
}
