<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>{{ page.title }}</title>

        <!-- Homepage CSS -->
        <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen, projection" />
    </head>
    <body>

        <div id="wrapper">

            <div id="header">
                <h1><a href="/">code to nowhere</a></h1>
                <span class="strapline">pointless ramblings.</span>
            </div>

            {{ content }}

            <div id="footer">
                <p><a href="/">Richard Layte</a>, 2011. No rights reserved.</p>
            </div>

        </div>

    </body>
</html>
