<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>{{ page.title }}</title>

        <!-- Homepage CSS -->
        <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen, projection" />
    </head>
    <body>

        <div id="wrapper">

            <div id="header">
                <h1><a href="/">code to nowhere</a></h1>
                <span class="strapline">pointless ramblings.</span>
            </div>

            <div id="primary">
                {{ content }}
            </div>

            <div id="sidebar">
                <p>I'm Richard Layte. I <a href="https://github.com/rlayte">write code</a>, listen to <a href="http://www.last.fm/user/rlayte">music</a>, and work for <a href="http://www.lbi.co.uk/">LBi</a>.</p>

                <h3><a href="http://twitter.com/#!/codeToNowhere">Tweets</a></h3>
                <ul class="tweets">
                </ul>
            </div>

            <div id="footer">
                <p><a href="/">Richard Layte</a>, 2011. No rights reserved.</p>
            </div>

        </div>

        <script src="/javascript/jquery.js"></script>
        <script src="/javascript/twitter_feed.js"></script>
        <script src="http://twitter.com/statuses/user_timeline/codetonowhere.json?callback=twitter_callback&count=4"></script>
    </body>
</html>
