<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>{{ page.title }}</title>

        <!-- Homepage CSS -->
        <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen, projection" />
    </head>
    <body>

        <div class="site">

            <div class="title">
                <a href="/">code_to_nowhere</a>
                <span class="strapline">pointless ramblings.</span>
            </div>

            {{ content }}

            <div class="footer">


            </div>

        </div>

    </body>
</html>
